{% extends 'base.html.twig' %}
{% block title %}Modifier::Profile
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/modifier.css") }}">
{% endblock %}
{% block body %}
<div class="container">
	{{ include('partials/_sidebar.html.twig') }}
	<div class="main-content">
		<div class="p-3">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h4 class="font-18 text-center">Changer Mot de passe</h4>
            <div class="alert alert-info mt-4 mb-5 text-center" role="alert">
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                Mais vous serez déconnecter après le changement.
            </div>
            {{ form_start(requestPassForm, {label_attr: {class: 'form-horizontal'} }) }}

            <div class="form-group">
                {{ form_row(requestPassForm.email) }}
            </div>


            <div class="form-group row">
                <div class="col-12 text-right">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Envoyer email</button>
                </div>
            </div>

            {{ form_end(requestPassForm) }}

        </div>

	</div>
</div>
{% endblock %}

