{% extends 'base.html.twig' %} 
{% block title %}Tableau de bord
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/profile.css") }}">
{% endblock %}
{% block body %} 
	<div class="container">
		{{ include('partials/_sidebar.html.twig') }}
		<div class="main-content">
			<!-- Payment Table -->
			<div class="payment-table">
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ type }}" role="alert"style="text-align: center;">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
				<h2><strong>Tableau Récapitulatif des Paiements de {{ NomDeSociete }}</strong></h2>
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead class="table-primary">
							<tr>
								<th scope="col">Période de paiement</th>
								<th scope="col">Montant payé</th>
								<th scope="col">Date de paiement</th>
								<th scope="col">Paiement</th>
								<th scope="col">Reste à payer</th>
								<th scope="col">Action</th>
								<th scope="col">Voir le reçu</th>
							</tr>
						</thead>
						<tbody>
							{% for payment in paiements %}
							<tr>
								<td>{{ payment.datePaiement|date('F Y') }}</td>
								<td>{{ payment.montantAPayer }} (Fcfa)</td>
								<td>{{ payment.datePaiement|date('d-m-Y') }}</td>
								<td>
									{% if payment.status == 'en attente' %}
										<span class="badge bg-primary">{{ payment.status }}</span>
									{% elseif payment.status == 'Partiellement payé' %}
										<span class="badge bg-warning">{{ payment.status }}</span>
									{% elseif payment.status == 'Non payé' %}
										<span class="badge bg-danger">{{ payment.status }}</span>
									{% else %}
										<span class="badge bg-success">{{ payment.status }}</span>
									{% endif %} 
								</td>
								<td>{{ payment.montantRestant }} (Fcfa)</td>
								<td>
								{% if payment.status == 'Payé' %}
									<button type="button" class="btn btn-secondary btn-sm" disabled>Modifier</button>
								{% elseif payment.status == 'Partiellement payé' %}
									<button type="button" class="btn btn-info btn-sm">Compléter</button>
								{% elseif payment.status == 'Non payé' %}
									<button type="button" class="btn btn-danger btn-sm">Paiement</button>
								{% else %}
									<button type="button" class="btn btn-primary btn-sm">Modifier</button>
								{% endif %}
								</td>
								<td>
								{% if payment.status == 'Non payé' %}
									<a href="#" class="btn btn-secondary btn-sm" disabled>
										<i class="fas fa-download"></i>
										Télécharger
									</a>
								{% else %}
									<a href="#">
										<img src="{{ vich_uploader_asset(payment, 'imageFile')|imagine_filter('recu') }}" class="card-img-top" alt="{{payment.montantAPayer}}">
									</a>
								{% endif %}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">Pas de paiement</td>
							</tr>
						{% endfor %} 
						{# 
						<tr>
								<td>Février 2024</td>
								<td>$600</td>
								<td>20-02-2024</td>
								<td>
									<span class="badge bg-primary">En attente</span>
								</td>
								<td>$300</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm">Modifier</button>
								</td>
								<td>
									<a href="#" class="btn btn-info btn-sm"><i class="fas fa-download"></i>Télécharger</a>
								</td>
							</tr>
							<tr>
								<td>Janvier 2024</td>
								<td>$500</td>
								<td>15-01-2024</td>
								<td>
									<span class="badge bg-warning">Partiellement payé</span>
								</td>
								<td>$200</td>
								<td>
									<button type="button" class="btn btn-info btn-sm">Compléter</button>
								</td>
								<td>
									<a href="#" class="btn btn-info btn-sm"><i class="fas fa-download"></i>Télécharger</a>
								</td>
							</tr>
							<tr>
								<td>Février 2024</td>
								<td>$0</td>
								<td>00-00-0000</td>
								<td>
									<span class="badge bg-danger">Non payé</span>
								</td>
								<td>$880</td>
								<td>
									<button type="button" class="btn btn-danger btn-sm">Paiement</button>
								</td>
								<td>
									<a href="#" class="btn btn-secondary btn-sm" disabled><i class="fas fa-download"></i>Télécharger</a>
								</td>
							</tr> 
							#}
						
							</tbody>
					</table>
				</div>
                <div class="row justify-content-center mt-2">
					<div class="col-md-10">
						<!-- Ajoutez ici la pagination selon votre structure -->
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédent</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Suivant</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</div>
	
{% endblock %}

