<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<title>Inscription | APTracker</title>
		<meta content="APTracker représente une application de gestion destinée aux entreprises, assurant le règlement des services de gardiennage" name="description"/>

		<meta content="Themesbrand" name="BROU YAO ERIC"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset("favicon_io/apple-touch-icon.png")}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset("favicon_io/favicon-32x32.png")}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset("favicon_io/favicon-16x16.png")}}">
        <link rel="manifest" href="{{asset("favicon_io/site.webmanifest")}}">

		<link href="{{asset('assets/css/login/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/login/metismenu.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/login/icons.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/login/style.css')}}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="account-page-full-height bg-primary">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-xl-3 bg-white">
						<div class="account-page-full-height">
							<div class="p-3">
								<div>
									<div class="text-center p-3">

										<a href="{{path('app_home')}}" class="logo"><img src="{{asset('img/employee.png')}}" height="60" alt="logo"></a>
									</div>
									<div class="text-left p-3">
										<h4 class="font-18 text-center">S'inscrire</h4>
										<p class="text-muted text-center">Avoir un compte APTracker maintenant..</p>
										{{ form_start(registrationForm, {label_attr: {class: 'form-horizontal mt-3'} }) }}

										<div class="form-group">
											{{ form_row(registrationForm.email, {'attr': {'class': 'form-control','id': 'email', 'placeholder': 'Email address'}}) }}
										</div>

										<div class="form-group">
											{{ form_row(registrationForm.numero, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
										</div>
										<div class="form-group">
											{{ form_row(registrationForm.nomDeSociete, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la société'}}) }}
										</div>

										<div class="form-group">
											{{ form_row(registrationForm.plainPassword, {'label': 'Mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
										</div>
										<div class="form-group">
											{{ form_row(registrationForm.agreeTerms, {'label': 'Accepter les termes', 'attr': {'class': 'form-check-input'}}) }}
											{{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
										</div>

										<div class="form-group row">
											<div class="col-12 text-right">
												<button class="btn btn-primary w-md waves-effect waves-light" type="submit">S'inscrire</button>

											</div>
										</div> 

										{{ form_end(registrationForm) }}
									</div>
									<div class="mt-2 text-center">
										<p>Avez-vous un compte ?
											<a href="{{path('app_login')}}" class="font-500 text-primary">
												Se connecter
											</a>
										</p>
										<p>© 2024 APTracker. Creer par
											<i class="mdi mdi-heart text-danger"></i>
											Ebychoco</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9">
						<div class="text-white">
							<div class="row">
								<div class="col">
									{% for flashError in app.flashes('verify_email_error') %}
										<div class="alert alert-danger" role="alert">{{ flashError }}</div>
									{% endfor %}
									{% for message in app.flashes('warning') %}
										<div class="alert alert-warning">
											{{ message }}
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="row">
							<div class="col-xl-12">
								<h1 class="text-white text-center">Les étapes d'inscription</h1>
							</div>
							</div>
							<div class="row">
							
								<div class="col-xl-3">
									<div class="text-center account-process p-4">
										<h5 class="mt-0 mb-5 d-inline-block p-3 bg-primary rounded-circle border border-light position-relative">01</h5>
										<div class="mb-4">
											<i class="ti-pencil-alt h1"></i>
										</div>
										<h5>S'inscrire</h5>
										<p class="text-white-50">Inscrivez vous avec les informations demander</p>
									</div>
								</div>
								<div class="col-xl-3">
									<div class="text-center account-process p-4">
										<h5 class="mt-0 mb-5 d-inline-block p-3 bg-primary rounded-circle border border-light position-relative">02</h5>
										<div class="mb-4">
											<i class="ion ion-ios-mail-unread h1"></i>
										</div>
										<h5>Boîte Gmail</h5>
										<p class="text-white-50">Consulter sa boîte Gmail. puis cliquer sur le lien d'activation pour activer votre compte</p>
									</div>
								</div>
								<div class="col-xl-3">
									<div class="text-center account-process p-4">
										<h5 class="mt-0 mb-5 d-inline-block p-3 bg-primary rounded-circle border border-light position-relative">03</h5>
										<div class="mb-4">
											<i class="ti-user h1"></i>
										</div>
										<h5>Se connecter</h5>
										<p class="text-white-50">Connectez-vous avec vos cordonnées lors de votre inscription.</p>
									</div>
								</div>
								<div class="col-xl-3">
									<div class="text-center p-4">
										<h5 class="mt-0 mb-5 d-inline-block p-3 bg-primary rounded-circle border border-light position-relative">04</h5>
										<div class="mb-4">
											<i class="ti-bookmark-alt h1"></i>
										</div>
										<h5>Page de profile</h5>
										<p class="text-white-50">Une fois sur votre espace, vous pouvez effectuer les actions</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- end row -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- jQuery  -->
		<script src="{{asset('assets/js/login/jquery.min.js')}}"></script>
		<script src="{{asset('assets/js/login/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('assets/js/login/metismenu.min.js')}}"></script>
		<script src="{{asset('assets/js/login/jquery.slimscroll.js')}}"></script>
		<script src="{{asset('assets/js/login/waves.min.js')}}"></script>

		<!-- App js -->
		<script src="{{asset('assets/js/login/app.js')}}"></script>
	</body>
</html>
