{% if pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a href="{{ path(path, { page: currentPage - 1}) }}" class="page-link">Précédent</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Précédent</span>
                </li>
            {% endif %}

            {# Always show the first page #}
            <li class="page-item {{ currentPage == 1 ? 'active' : '' }}">
                <a href="{{ path(path, { page: 1 }) }}" class="page-link">1</a>
            </li>

            {# Show dots if currentPage > 3 #}
            {% if currentPage > 3 %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}

            {# Display pages around the current page #}
            {% for page in range(max(2, currentPage - 1), min(currentPage + 1, pages - 1)) %}
                <li class="page-item {{ (page == currentPage) ? 'active' : '' }}">
                    <a href="{{ path(path, { page: page }) }}" class="page-link">{{ page }}</a>
                </li>
            {% endfor %}

            {# Show dots if currentPage < pages - 2 #}
            {% if currentPage < pages - 2 %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}

            {# Always show the last page #}
            {% if pages > 1 %}
                <li class="page-item {{ currentPage == pages ? 'active' : '' }}">
                    <a href="{{ path(path, { page: pages }) }}" class="page-link">{{ pages }}</a>
                </li>
            {% endif %}

            {% if currentPage < pages %}
                <li class="page-item">
                    <a href="{{ path(path, { page: currentPage + 1}) }}" class="page-link">Suivant</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Suivant</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
