<div class="sidebar">
			<!-- Sidebar actions -->
			<h4><i class="fas fa-home"></i> Tableau de bord</h4>
			<a class="btn btn-primary {{set_active_route('app_home')}}" href="{{ path('app_home') }}">Accueil</a>

			{% if is_granted('ROLE_LOCATEUR') %}
			<a class="btn btn-primary {{set_active_route('app_profile')}}" href="{{ path('app_profile') }}">Mon espace</a>
				<a class="btn btn-primary {{set_active_route('app_paiement')}} {{set_active_route('app_edit_paiement')}} " href="{{ path('app_paiement') }}">Effectuer un Paiement</a>
				<a class="btn btn-primary {{set_active_route('app_mes_retard_paiement')}} " href="{{ path('app_mes_retard_paiement') }}">Mes retard</a>
			{% endif %}
			{% if is_granted('ROLE_GARDIEN') %}
				<a class="btn btn-primary {{set_active_route('app_gardinage_index')}} {{set_active_route('app_gardinage_verifier')}}" href="{{ path('app_gardinage_index') }}">Vérification des Paiements</a>
				<a class="btn btn-primary {{set_active_route('app_gardinage_history')}}" href="{{ path('app_gardinage_history') }}">History des Paiements</a>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-primary {{set_active_route('app_admin_index')}} {{set_active_route('app_admin_edit')}}" href="{{ path('app_admin_index')}}">Permission d'accès</a>
			{% endif %}
			<a class="btn btn-primary {{set_active_route('modifier_profil')}}" href="{{ path('modifier_profil')}}">Modifier Profil</a>
			<a class="btn btn-primary {{set_active_route('app_profile_pass_change')}}" href="{{ path('app_profile_pass_change')}}">Changer mot de passe</a>
			<a class="btn btn-primary {{set_active_route('app_home')}}" href="{{ path('app_logout') }}">Déconnexion</a>


			<!-- Profile Info -->
			<hr>
			<div class="profile-info">
				<p>
					<strong>{{ app.user.nomDeSociete }}</strong>
				</p>
				<p>
					<strong>{{app.user.email}}</strong>
				</p>
				<p>
					<strong>+225 {{app.user.numero}}</strong>
				</p>
			</div>
		</div>