
{% extends 'base.html.twig' %}

{% block title %}Gardinage
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/gardinage.css") }}">
{% endblock %}

{% block body %}
	<div class="container">
		{{ include('partials/_sidebar.html.twig') }}
		<div class="main-content">
        {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col-md-6 offset-3" id="some-custom-id">
                <h2 class="texte-center"><strong>Modifier le rôle</strong></h2>
                    {{ form_row(form.roles) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-3" id="some-custom-id">
                    <button class="btn btn-primary">Modifier</button>
                </div>
            </div>
        {{ form_end(form) }}

    {# {{ include('admin/_delete_form.html.twig') }} #}
		</div>
	</div>
{% endblock %}
