{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('partials/_sidebar.html.twig') }}
        <div class="main-content">
            <h1><strong>La liste des Utilisateurs</strong></h1>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Réinitialiser </th>
                            <th>Dernière connexion</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set trans_months = {
									"January": 'Janvier',
									"February": 'Février',
									"March": 'Mars',
									"April": 'Avril',
									"May": 'Mai',
									"June": 'Juin',
									"July": 'Juillet',
									"August": 'Août',
									"September": 'Septembre',
									"October": 'Octobre',
									"November": 'Novembre',
									"December": 'Décembre'
								} %}
                        {% for user in users %}
                            {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
                                <tr>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        {{ user }}
                                    </td>
                                    <td>
                                         {% if user.lastLogin %}
                                            {% set day = user.lastLogin|date('d') %}
                                            {% set month = user.lastLogin|date('F') %}
                                            {% set year = user.lastLogin|date('Y') %}
                                            {{ day }} {{ trans_months[month] }} {{ year }}
                                        {% else %}
                                            Jamais
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if app.user.id == user.id %}
                                            <button class="btn btn-warning" disabled>Impossible</button>
                                        {% else %}
                                            <div class="d-flex">
                                            {% if user.isVerified == "0" %}
                                                <button type="button" class="btn btn-secondary me-2" disabled> Attribuer role</button>
                                            {% else %}
                                               <a href="{{ path('app_admin_reset_password', {id: user.id}) }}" class="btn btn-primary me-2">
                                        Réinitialiser
                                    </a>
                                            {% endif %} 
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {# <a href="{{ path('app_admin_new') }}" class="btn btn-primary">Créer nouveau</a> #}
        </div>
    </div>
{% endblock %}
