{# templates/admin/reset_password.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
    <style>
        .form-container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #f678;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-container .form-group {
            margin-bottom: 15px;
        }
        .form-container .form-group label {
            font-weight: bold;
        }
        .form-container .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-container .form-group .form-error {
            color: red;
            font-size: 0.9em;
        }
        .form-container .form-group .form-success {
            color: green;
            font-size: 0.9em;
        }
        .form-container .form-submit {
            text-align: center;
        }
        .form-container .form-submit button {
            padding: 10px 20px;
            border: none;
            background-color: #ff0080;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        .form-container .form-submit button:hover {
            background-color: #ff0080;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
        {{ include('partials/_sidebar.html.twig') }}
        <div class="main-content">
    <div class="form-container mt-4">
    <div class="text-center mt-2">
                    <div class="mb-3">
                        <a href="#" class="logo"><img src="{{asset('img/employee.png')}}" height="50" alt="logo"></a>
                    </div>
                </div>
        <h1>Réinitialiser le mot de passe de l'utilisateur <strong>{{ user}}</strong></h1>
        
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(resetPasswordForm) }}
            <div class="form-group">
                {{ form_label(resetPasswordForm.password) }}
                {{ form_widget(resetPasswordForm.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(resetPasswordForm.password, {'attr': {'class': 'form-error'}}) }}
            </div>
            <div class="form-submit">
                {{ form_widget(resetPasswordForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        {{ form_end(resetPasswordForm) }}
    </div>
    </div>
    </div>
{% endblock %}
