<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Bienvenu!{% endblock %}</title>
		<meta content="APTracker représente une application de gestion destinée aux entreprises, assurant le règlement des services de gardiennage" name="description"/>
        <meta content="Themesbrand" name="BROU YAO ERIC"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset("favicon_io/apple-touch-icon.png")}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset("favicon_io/favicon-32x32.png")}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset("favicon_io/favicon-16x16.png")}}">
        <link rel="manifest" href="{{asset("favicon_io/site.webmanifest")}}">
        

        
        <link rel="stylesheet" href="{{ asset("assets/css/bootstrap.min.css") }}">
        <link href="{{asset('assets/css/login/icons.css')}}" rel="stylesheet" type="text/css">
        
        {% block stylesheets %} 
        {# <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}?v={{ 'now'|date('U') }}"> #}
        {% endblock %} 
         
            {% block javascripts %}
                {# {% block importmap %}{{ importmap('app') }}{% endblock %}  #}
            {% endblock %} 
    </head>
    <body>
    {# {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            <div class="alert-message">
                <strong>Votre compte n'est pas activé. Veuillez consulter votre boîte mail pour activer votre compte ou </strong>, <a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a> 
            </div>
        </div>
    {% endif %} #}
    {{ include('partials/_flash.html.twig') }}
        {% block body %}{% endblock %}
        <script src="{{ asset("assets/js/jquery-3.7.1.min.js") }}"defer></script> 
        <script src="{{ asset("assets/js/bootstrap.bundle.min.js") }}" defer></script>
    </body>
</html>
